<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Sobre</h4>
          <p class="text-muted">Exemplo de "lojinha" online de venda de frutas. Feito em Angular, Asp.Net Core WebAPI (C#), utilizando Swagger, autenticação por JWT, Entity Framework Core e SQL Server.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contato</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Siga-nos no Twitter</a></li>
            <li><a href="#" class="text-white">Curta nossa página no Facebook</a></li>
            <li><a href="#" class="text-white">Envie um e-mail para nossa equipe</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Frutas</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="py-6 text-center container">
    <div class="row py-lg-6">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Frutas!</h1>
        <p class="lead text-muted">Compre uma ou mais dentre todas as {{fruits?.totalRecords}} opções de frutas que temos!</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col" *ngFor="let fruit of fruits.data">
          <div class="card shadow-sm">
            <img src="{{fruit.image}}" class="img-fluid" role="img" />
            <div class="card-body">
              <p class="card-text">{{fruit.name}}</p>
              <p class="card-text">{{fruit.description}}</p>
              <p class="card-text">Preço: {{fruit.price | currency:'BRL'}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToCart(fruit)">Comprar</button>
                </div>
                <small class="text-muted">{{fruit.stock}} em estoque.</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Topo</a>
    </p>
  </div>
</footer>
